@import 'variables';
@import 'mixins';

button {
  @include button-styles($primary-color, #fff);

  &.btn-all-events {
    margin-top: 10px;
  }

  &.btn-delete-event {
    background-color: rgb(212, 75, 75);

    &:hover {
      background-color: rgb(250, 58, 58);
    }
  }
}
