// form.scss
@import 'variables';

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  gap: 5%;
}

.form-group label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  width: 200px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:focus {
    border-color: #80bdff;
    outline: none;
  }
}

textarea {
  resize: vertical;
}
