@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import 'variables';
@import 'mixins';
@import 'buttons';
@import 'form';
@import 'responsive';
@import 'list';
@import 'modal'; // Importing modal styles

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

form {
  width: 100%;
  max-width: 600px;
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
