// responsive.scss
@import "variables";

@media (max-width: 500px) {
  h1 {
    text-align: center;
  }
  .form-group {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
    gap: 5%;
  }
  .container .event {
    flex-direction: column;
    width: 80%;
    gap: 10px;
    text-align: center;
  }
  .container .event .event-buttons {
    flex-direction: column;
    width: 60%;
  }
  .span.event-name{
    font-size: 20px;
  }
  .event-buttons button{
    font-size: 15px;
  }
}
